html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  section {
    display: flex;
  }
  
  header {
    background: #a0d2eb;
    height: 100px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: #d0bdf4;
    border-radius: 20px;
  }

  /* Add your flexbox CSS below here */


  